nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(53, 47, 124, 0.8);
    padding: 1rem 2rem;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
}

nav ul {
    width: 10%;
    list-style: none;
    gap: 20px;
}

nav ul li{
    width: 100%;
}
