section {
    position: relative;
    max-width: 500px; /* Adjust the max-width as needed */
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    transition: all 0.5s ease-in-out;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}