@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.defaultPage {
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem 2rem 3rem;
  transition: all 0.5s ease-in-out;
  min-height: 100vh;
  background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
  backdrop-filter: blur(55px);
  max-width: 100%;
  margin: auto;
}

h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}