<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Library</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="module" src="/js/user/index/main.js"></script>
</head>
<body class="index">
<nav>
    <nav>
        <ul>
            <li>
                <form action="/logout" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

</nav>
<h1>Welcome to the Online Library</h1>


<!-- Display any messages -->
<p th:text="${message}"></p>
</body>
</html>