<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Library</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/section.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/borrowed-books.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="/css/page/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="module" src="/js/user/index/main.js"></script>
</head>
<body class="index">
    <nav>
        <nav>
            <ul>
                <li>
                    <form action="/logout" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>

    </nav>
    <h1>Welcome to the Online Library</h1>

    <!-- Search for Books Section -->
    <h1>Search for Books</h1>
    <div id="searchBar">
        <label for="query">Search by Author, Title or Genre</label>
        <div class="inputbox">
            <input type="text" id="query" name="query" value="" />
        </div>
        <button type="submit" id="searchBtn">Search</button>
    </div>

    <div id="emptyResponse" style="display:none;">
        <p>No matches found for your search criteria</p>
    </div>

    <!-- Books table-->
    <div id="booksTableContainer" style="display:none;">
        <table id="booksTable">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- The rows will be added dynamically by JavaScript -->
            </tbody>
        </table>

        <!-- Pagination Controls -->
        <div id="paginationControls">
            <!-- Pagination links will be added dynamically by JavaScript -->
        </div>
    </div>


    <h2>Your currently borrowed books</h2>
    <div id="borrowed-books-container"></div>
    <!-- Display any messages -->
    <p th:text="${message}"></p>
</body>
</html>