<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup Form</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/register.js" defer></script>
</head>
<body>
  <section>
    <form action="/register" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <h1>Register</h1>
        <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" id="email" name="email" required>
            <label for="">Email</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" id="password" name="password" required>
            <label for="">Password</label>
        </div>
        <button id="submit" type="submit">Sign Up</button>
      <div class="register">
        <p>Already have an account? <a href="/login">Log In</a></p>
      </div>
    </form>
  </section>
</body>
</html>
<!--<script>-->
<!--  const submitButttom = document.getElementById("submit");-->
<!--  submitButttom.addEventListener('click',()=>{-->
<!--    const email = document.getElementById('email').value;-->
<!--    const password = document.getElementById('password').value;-->
<!--    const data ={-->
<!--      email,-->
<!--      password-->
<!--    }-->
<!--    -->
<!--    const jsonData = JSON.stringify(data);-->
<!--    fetch('/register', {-->
<!--        method: 'POST',-->
<!--        headers:{-->
<!--          'Content-Type': 'application/json'-->
<!--        },-->
<!--        body: jsonData-->
<!--      })-->
<!--      .then(response =>{-->
<!--        //alert('succesfull');-->
<!--        //if(response.status == 200){-->
<!--          //alert('succesfull');-->
<!--        //xs}-->
<!--    })-->
<!--})-->
<!--</script>-->